{% macro copyright() %}
    {%- if config.extra.copyright -%}
        <div class="copyright copyright--user">{{ config.extra.copyright | safe }}</div>
    {%- else -%}
        <div class="copyright">
            <span>© {{ now() | date(format="%Y") }} Tinusgraglin <span/>
            <span>:: Powered by <a href="https://www.getzola.org/">Zola</a>(<a href="https://www.rust-lang.org/">Rust</a>) and <a href="https://bun.sh">Bun</a>(<a href="https://ziglang.org">Zig</a>)</span>
        </div>
    {%- endif -%}
{% endmacro copyright %}

{% macro script() %}
    <script type="text/javascript" src="{{ get_url(path="assets/js/main.js") }}"></script>
{% endmacro script %}
